*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HEADER  */
header{
    padding: 10px 20px;
    height: 80px;
}
/* LOGO  */
.logo{
    vertical-align: middle;
}
.name-logo{
    font-size: 50px;
    font-weight: 700;
    vertical-align: middle;
}
/* CONTAINER  */
.container{
    background-color: rgb(235, 232, 232);
    padding: 100px;
    
}
.container-button{
    height: 50px;
    width: 1200px;
    background-color: white;
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 5px;
}
/* BUTTON */
.button{
    padding: 0 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 12px;
    height: 60%;
}
.white{
    color: #fff;
}

.bg_blue{
    background-color: rgb(93, 176, 253);
    border: 2px none;

}

#add_section{
    border: 2px solid lightgray;
    color: lightgrey;
    background-color: #fff;
}
.container-lists{
    width: 1200px;
    background-color: white;
    margin: 3px auto;
    padding-left: 50px;
   
}
/* SECTIONS  */
section{
    padding-top: 30px;
}
h3{
    font-size: 25px;
    display: inline-block;
}
/* LISTS  */
li{
    list-style: none;
    font-weight: 530;
    font-size: 20px;
    line-height: 2;

}
/* SIGN  */
.sign{
    border-radius: 50%;
    margin-right: 10px;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 900;
}
/* CHECK  */
.check{
    color: green;
    border: 1px solid green;
}
/* CROSS  */
.cross{
    color: red;
    border: 1px solid red;

}
.type{
    font-size: 12px;
    padding:5px 10px;
    border-radius: 20px;
}
.bg_purple{
    background-color: rgb(167, 88, 204);
}
.bg_green{
    background-color: rgb(74, 145, 56);
}
.bg_orange{
    background-color: orange;
}